#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 95%;
    margin: 0;
    padding: .5em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
}

/*nav and its contents*/
nav {
    width: 90%;
    margin: 0;
    padding: .5em 5%;
}

/*main and its contents*/
main {
    width: 90%;
    margin: 1.5em 5%;
    padding: 0;
}

/*footer and its contents*/
footer {
    width: 90%;
    margin: 0;
    padding: .5em 5%;
}