#container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

header {
    width: 95%;
    margin: 0;
    padding: .5em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
}

nav {
    width: 95%;
    margin: 0;
    padding: .5em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

main {
    width: 95%;
    margin: 0;
    padding: .5em 2.5%;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /*flex: 0 1 auto*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /*main axis*/
    align-items: flex-start; /*cross axis*/
    border-bottom: 1px solid #EEE; /*grey 200*/
}

/*footer and its contents*/
footer {
    width: 90%;
    margin: 0;
    padding: .5em 5%;
}